{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
  {% block head %}
    <meta charset="utf-8"/>
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="shortcut icon" href="{{ url('theme://src/images/favicons/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url('theme://src/images/favicons/favicon.png') }}" type="image/png">
    <link rel="icon" sizes="32x32" href="{{ url('theme://src/images/favicons/favicon-32.png') }}" type="image/png">
    <link rel="icon" sizes="64x64" href="{{ url('theme://src/images/favicons/favicon-64.png') }}" type="image/png">
    <link rel="icon" sizes="96x96" href="{{ url('theme://src/images/favicons/favicon-96.png') }}" type="image/png">
    <link rel="icon" sizes="196x196" href="{{ url('theme://src/images/favicons/favicon-196.png') }}" type="image/png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url('theme://src/images/favicons/apple-touch-icon.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url('theme://src/images/favicons/apple-touch-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url('theme://src/images/favicons/apple-touch-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url('theme://src/images/favicons/apple-touch-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url('theme://src/images/favicons/apple-touch-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url('theme://src/images/favicons/apple-touch-icon-144x144.png') }}">
    <meta name="msapplication-TileImage" content="{{ url('theme://src/images/favicons/favicon-144.png') }}">
    <meta name="msapplication-TileColor" content="#FFFFFF">

    <link rel="canonical" href="{{ page.url(true, true) }}"/>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700" rel="stylesheet">

    {% block stylesheets %}
      {#{{ webpacker('inline.css', {'loading':'inline'}) }}#}
      {{ webpacker('app.css') }}
    {% endblock %}
    {{ assets.css }}

    {% block javascripts %}
      {{ webpacker('app.js') }}
    {% endblock %}
    {{ assets.js }}

  {% endblock head %}
</head>
<body class="{{ page.header.body_classes }}">

{% block header %}
  <header>
    {% block header_navigation %}
      <nav class="uk-navbar-container">
        <div class="uk-container uk-container-small">
          <div uk-navbar>
            <div class="uk-navbar-left">
              <a class="uk-navbar-item uk-logo" href="{{ base_url == '' ? '/' : base_url }}">
                <img src="{{ page.media['theme://src/images/logo-bsaap.svg'].url }}" alt="logo {{ config.site.title }}" uk-svg>
              </a>
              {% include 'partials/navigation.html.twig' %}
            </div>
          </div>
        </div>

      </nav>
    {% endblock %}
  </header>
{% endblock %}

{% block body %}
  <section>
    {% block content %}{% endblock %}
  </section>
{% endblock %}

{% block footer %}
  <footer class="uk-section-small uk-section-secondary">
    <div class="uk-container uk-container-small">
      <p><a href="http://getgrav.org">Grav</a> was <i class="fa fa-code"></i> with <i class="fa fa-heart"></i> by <a
          href="http://www.rockettheme.com">RocketTheme</a>.</p>
    </div>
  </footer>
{% endblock %}

{% block bottom %}
  {{ assets.js('bottom') }}
{% endblock %}

</body>
</html>
