{{ dump(reference.date|date("m/d/Y")) }}
<div class="uk-card uk-card-default">
  <div class="uk-card-media-top">
    {{ reference.media[reference.header.gallery|first.image].cropResize(640,400).html('My title', reference.header.gallery|first.text, 'myclass') }}
  </div>
  <div class="uk-card-header">
    <h4>{{ reference.title }}</h4>
  </div>
  <div class=" uk-card-body">
    {{ reference.header.resume|truncate(140) }}
  </div>
  <div class="uk-card-footer">
    <a href="{{ reference.url }}" class="uk-button uk-button-text">Lire d'avantage</a>
  </div>
</div>
