{% extends 'partials/base.html.twig' %}

{% block content %}

  <div class="uk-section uk-section-default">
    <div class="uk-container uk-container-small">
      <div class="uk-child-width-1-2@s" uk-grid>
        <div>
          {% include "forms/form.html.twig" with {
            'form_button_outer_classes': 'uk-margin uk-flex uk-flex-right'
          } %}
        </div>
        <div>
          <h1>{{ page.title }}</h1>
          <div class="uk-margin">
            <a class="uk-link-muted" href="tel:{{ contact.header.phone }}">
              <span uk-icon="receiver"></span>
              {{ page.header.phone }}
            </a>
          </div>
          <div class="uk-margin">
            <a class="uk-link-muted" href="mailto:{{ contact.header.email }}">
              <span uk-icon="mail"></span>
              {{ page.header.email }}
            </a>
          </div>
          <p>{{ content }}</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
