{% extends 'partials/base.html.twig' %}

{% block content %}
  <div class="uk-section uk-section-default">
    <div class="uk-container uk-container-small">

      {% set refs_collection = page.collection({'items': {'@page': '/officines'}}) %}

      <div class="uk-flex uk-flex-wrap uk-flex-center">
        {% if not refs_collection.isFirst(page.path) %}
          <a class="uk-icon-button uk-margin-left uk-margin-right" href="{{ refs_collection.nextSibling(page.path).url }}" uk-icon="chevron-left" uk-tooltip="title: Référence précédente; pos: bottom"></a>
        {% endif %}

        <a class="uk-icon-button uk-margin-left uk-margin-right" href="{{ pages.find('/officines').url }}" uk-icon="list" uk-tooltip="title: Retour à la liste des références; pos: bottom"></a>

        {% if not refs_collection.isLast(page.path) %}
          <a class="uk-icon-button uk-margin-left uk-margin-right" href="{{ refs_collection.prevSibling(page.path).url }}" uk-icon="chevron-right" uk-tooltip="title: Référence suivante; pos: bottom"></a>
        {% endif %}
      </div>

{#      <div class="uk-text-meta uk-align-right">{{ refs_collection.date|date("m/d/Y") }}</div>#}

      <article class="uk-article">
        <h1 class="uk-article-title">{{ page.title }}</h1>

        <div class="uk-margin" tabindex="-1" uk-slider="center: true">
          <div class="uk-position-relative">
            <div uk-lightbox>
              <ul class="uk-slider-items uk-flex uk-flex-middle">
                {% for key, gallery_item in page.header.gallery %}
                  <li class="uk-width-2-3@m uk-flex uk-flex-center">
                    <a class="uk-inline uk-transition-toggle" rel="lightbox" data-width="600" data-height="400" href="{{ media[gallery_item.image].cropResize(1200).url  }}">
                      <img alt="gallery_item.text" src="{{ media[gallery_item.image].cropResize(600, 400).url  }}" />
                      <div class="uk-overlay-default uk-position-cover uk-transition-fade">
                        <div class="uk-position-center">
                          <span class="uk-transition-fade" uk-icon="icon: search; ratio: 2"></span>
                        </div>
                      </div>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
            <a class="uk-position-center-left uk-position-small uk-hidden-hover uk-icon-button" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover uk-icon-button" href="#" uk-slidenav-next uk-slider-item="next"></a>
          </div>

          <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

        </div>

        {{ page.content }}
      </article>

    </div>
  </div>
{% endblock %}
