{% extends 'partials/base.html.twig' %}

{% block content %}
  <div class="uk-section uk-section-default">
    <div class="uk-container uk-container-small">

      {% set refs_collection = page.collection({'items': {'@page': '/references'}}) %}

      <div class="uk-flex uk-flex-wrap uk-flex-center">
        {% if not refs_collection.isFirst(page.path) %}
          <a class="uk-icon-button uk-margin-left uk-margin-right" href="{{ refs_collection.nextSibling(page.path).url }}" uk-icon="chevron-left" uk-tooltip="title: Référence précédente; pos: bottom"></a>
        {% endif %}

        <a class="uk-icon-button uk-margin-left uk-margin-right" href="{{ pages.find('/references').url }}" uk-icon="list" uk-tooltip="title: Retour à la liste des références; pos: bottom"></a>

        {% if not refs_collection.isLast(page.path) %}
          <a class="uk-icon-button uk-margin-left uk-margin-right" href="{{ refs_collection.prevSibling(page.path).url }}" uk-icon="chevron-right" uk-tooltip="title: Référence suivante; pos: bottom"></a>
        {% endif %}
      </div>

      <div class="uk-margin" uk-lightbox>
        {% for key, image in page.header.gallery %}
          <a class="uk-inline uk-transition-toggle" rel="lightbox" data-width="600" data-height="400" href="{{ media['image://' ~ image.name].cropResize(600,400).url  }}">
            <img title="Sample Image" alt="" src="{{ media['image://' ~ image.name].cropResize(400,400).cropZoom(200,200).url  }}" />
            <div class="uk-overlay-default uk-position-cover uk-transition-fade">
              <div class="uk-position-center">
                <span class="uk-transition-fade" uk-icon="icon: search; ratio: 2"></span>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>

      <article class="uk-article">
        <h1 class="uk-article-title">{{ page.title }}</h1>
        <p class="uk-article-meta">
        </p>
        {{ page.content }}
      </article>

    </div>
  </div>
{% endblock %}
